:root {
	--black: #222831;
	--white: #ffffff;
}

* {
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
}


/* Home page */
.slide-in {
	opacity: 0;
	transform: translateX(-100%);
	animation: slide-in 1.5s forwards;
}

@keyframes slide-in {
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.index-header-container h1 {
	font-size: 50px;
	margin: 15% auto 0 0%;
	word-spacing: .08em;
}

.index-name {
	font-size: 55px;
	color: #6643b5;
}

.index-click-here {
	margin:10.5% 50%;
	width: 32%;
	transform: rotate(34deg);
}

.index-click-here p {
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.rainbow-flash {
	margin-top: -8%;
  animation: rainbow-flash 1s infinite;
	text-decoration:none;
}

@keyframes rainbow-flash {
  0% {
    text-shadow: 0 0 10px red, 0 0 20px orange, 0 0 30px yellow, 0 0 40px green, 0 0 50px blue, 0 0 60px purple;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px purple, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px orange, 0 0 60px red;
  }
}

/*.pointer {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 9999;
  pointer-events: none;
}

.pointer-trail {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
  pointer-events: none;
}

.pointer-trail div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  pointer-events: none;
  animation: rainbow 1s linear infinite;
}

@keyframes rainbow {
  0% {
    transform: scale(1);
    border-color: red;
  }
  20% {
    transform: scale(1.2);
    border-color: orange;
  }
  40% {
    transform: scale(1.4);
    border-color: yellow;
  }
  60% {
    transform: scale(1.6);
    border-color: green;
  }
  80% {
    transform: scale(1.8);
    border-color: blue;
  }
  100% {
    transform: scale(2);
    border-color: purple;
  }
}*/

/* Terminal */
.terminal-body {
	background-color: black;
	font-size: 14px;
	color: green;
}

.terminal-body h3 {
	color: green;
	font-family: monospace;
	font-size: 14px;
}

.terminal-directories {
	color: blue;
	font-weight: bold;
}

input:focus {
	outline: none;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
	
.blink {
	animation: blink 1s linear infinite;
}

#inputField {
	font-family: monospace;
	background-color: black;
	border:none;
	outline: none;
	font-size: 12px;
	cursor: none;
}

.terminal-contents-container {
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 50%;
}

#terminal-stdout {
	font-size: 12px;
}

#show-body {
	display: none;
}

/* Help */
.help-body {
	background-color: #000000;
}

.help-body p {
	font-family: 'VT323', monospace;
}

.help-readme-container h1 {
	text-transform: uppercase;
	font-size: 16px;
}

.help-readme-container p {
	margin-left: 3%;
	font-size: 16px;
}

.about-paragraph {
	width: 35%;
}


.about-click-here {
	margin:1.5% 50%;
	width: 32%;
	transform: rotate(34deg);
}

.about-click-here p {
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.rainbow-flash {
	margin-top: -8%;
  animation: rainbow-flash 1s infinite;
	text-decoration:none;
}

@keyframes rainbow-flash {
  0% {
    text-shadow: 0 0 10px red, 0 0 20px orange, 0 0 30px yellow, 0 0 40px green, 0 0 50px blue, 0 0 60px purple;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px purple, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px orange, 0 0 60px red;
  }
}

.resume-click-here {
	margin:-57.5% 50%;
	width: 32%;
	transform: rotate(34deg);
}

.resume-click-here a {
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.about-resume-container {
	margin-top: -14%;
}
